.section-promo {
    padding-top: 117px;
    padding-bottom: 127px;
    &-1 {
        display: flex;

        &__content,
        &__video {
            flex-basis: 50%;
        }
        &__content {
            
            .title {
                margin-bottom: 58px;
                font-size: 32px;
                font-weight: bold;
                line-height: 51px;
            }
            .description-item {
                margin-top: 28px;
            }
        }
        &__video {
            img {
                width: 100%;
                height: auto;
            }
            &:hover {
                cursor: pointer;
            }
        }
        @media(max-width: $screen-sm-max) {
            flex-direction: column-reverse;
            &__video {
                margin-bottom: 20px;
            }
        }
        @media(min-width: $screen-md) {
            &__content {
                padding-right: 90px;
            }
        }
    }
    &-2 {
        padding-top: 86px;
        margin-top: 120px;
        display: flex;
        border-top: 1px solid #e2e2e2;
        text-align: center;
        
        @media(max-width: $screen-xs-max) {
            flex-direction: column;
            .description-item + .description-item {    
                margin-top: 30px; 
            }
        }
        @media(min-width: $screen-sm) {
            .description-item + .description-item { 
                margin-left: 40px;
            }
        }

    }
}
        
        